$big: 500px;
$small: 350px;

@mixin circle {
    border-radius: 50%;
    position: fixed;
}

.container{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle1{
    background-color: var(--pink);
    width: $big;
    height: $big;
    left: -60%;
    bottom: -270px;
    z-index: 10;
    @include circle;
}

.circle2 {
    background-color: var(--red);
    @include circle;
    width: $small;
    height: $small;
    z-index: 5;
    right: -50%;
    bottom: -200px;
}
.circle3{
    background-color: var(--pink);
    width: $big;
    height: $big;
    left: -50%;
    top: -300px;
    z-index: 10;
    @include circle;
}

