:root {
  --pink: #F0B7B3;
  --red: #D7263D;
}



body{
  height: 100vh;
  margin: 0;
}

/* Theme Styling : will arrange properly later */
body[theme="dark"] {
  background-color: #141414;
  color: #fff;
}
.flex{
  display: flex;
  height: 100%;
  

}
#root {
  max-width: 700px;
  width: 100%;
  height: 100%;
}